* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  font-family: sans-serif;
  background: linear-gradient(
    to right,
    #01162e,
    #001d37,
    #002746,
    #013155,
    #003a63,
    #01426d
  );
}

.hidden {
  display: none !important;
}
